@charset "UTF-8";

/*CSS DOCUMENT*/

body {
    background-color: #e4ff6bfa;
}

/* Partie en-tête */

#topnav {
    background-color: rgb(159, 241, 237);
    display: flex;
    height: 300px;
}

#zonelogo {
    background-color: ghostwhite;
    height: 100px;
    width: 40%;
}

#zonelogo ul {
    background-color: lightseagreen;
    height: 100px;
    width: 40%;
}

#zonelogo ul li{
    background-color: rgb(18, 92, 15);

}